html {
  width: 100vw;
  overflow-x: hidden;
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
}

#landingImageContainer {
  position: relative;
  height: 100vh; /*needed to stop latter elements from overlapping*/
  width: 100vw;
}

/* makes work on firefox */
/* https://stackoverflow.com/questions/17907833/content-url-does-not-display-image-on-firefox-browser */
#landingImage, #alternateLandingImage, #landingImage::after, #alternateLandingImage::after, #landingImage::before, #alternateLandingImage::before {
  position: absolute;
  /* content:url('../images/pexels-photo-692103.jpeg');   https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
  object-fit: cover;  /*https://medium.com/@chrisnager/center-and-crop-images-with-a-single-line-of-css-ad140d5b4a87*/
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

main img {
  overflow-x: hidden;
  object-fit: cover;
  height: 300px;
}

#headerContainer {
  display: grid;
  width: 100%;
  position: fixed;
  top: 5%;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 24px;
  width: 90vw;
  z-index: 2;
  height: 45px;
}

#paragraphContainer {
  margin: 0 10%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 800px); */
  /* justify-content: center; */
  /* grid-column-gap: 36px; */
}

p {
  margin-top: 25px;
  font-size: 24px;
  width: 100%;
}

h3 {
  font-size: 34px;
  text-align: center;
  color: #333;
  margin-top: 40px;
}

#scrolled, #toTop a {
  border-radius: 25px;
  font-size: 24px;
  box-shadow: 4px 4px 8px, -4px 4px 8px;
}

header h1 {
  position: absolute;
  left: 10%;
}

header h2 {
  position: absolute;
  right: 10%;
}

h2 {
  display: inline;
  margin: 0 0 0 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px); /*https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/*/
  grid-column-gap: 36px;
  grid-row-gap: 25px;
  margin-top: 40px;
  justify-content: center;
}

footer {
  margin-top: 40px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 64px 64px;
  grid-template-rows: 64px;
  justify-content: center;
}

#toTop {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#toTop a {
  position: fixed;
  bottom: 15%;
  color: rgb(51, 51, 51);
  background-color: rgb(164, 189, 212);
  padding: 0.5em;
  text-align: center;
  animation: entrance 3s;
  -webkit-animation: entrance 3s;
}

h4 {
  font-size: 24px;
  background-color: #fff;
  color: #333;
  width: 80%;
  justify-self: center;
  border-radius: 50%;
  padding: 8% 4%;
  background-color: hsl(22, 34, 55);
}

#modal a:hover {
  background-color: hsl(22, 34, 55);
}

#flickeringScrollPrompt {
    position: absolute;
    display: grid;
    color: #ADD8E6;
    justify-content: center;
    width: 95vw;
    height: 190vh;
    align-content: center;
    
    /* https://priteshgupta.com/2011/09/flip-or-reverse-text-using-css/ */
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#flickeringScrollPrompt span{
    font-size: 48px;
    animation: move 3s infinite;
}

#form form{
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: auto;
    grid-row-gap: 15px;
    margin: 25px auto;
}

form input, form textarea {
    height: 40px;
    background-color: rgba(164, 189, 212, 50%);
    border-color: rgba(164, 189, 212, 50%);
    border: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 8px;
    font-size: 18px;
    color: #222;
    text-align: center;
}

::placeholder {
    font-size: 18px;
    color: #222;
    text-align: center;
}

#form button{
    height: 30px;
    background-color: rgb(164, 189, 212);
    border-color: rgb(164, 189, 212);
    box-shadow: 2px 2px 8px;
    font-size: 18px;
    color: #222;
}

form button {
    width: 25%;
    justify-self: right;
}

#form {
    margin: 5% 15%;
}

h5 {
    color: #333;
}

button {
    border-radius: 25px;
    cursor: pointer;
}

#brandStatement, #brandStatement::placeholder {
    height: 320px;
    padding: 10px 15px;
    text-align: start;
}

@media screen and (max-width: 1600) {
    #paragraphContainer {
        grid-template-columns: repeat(auto-fit, 600px);
    }
}

@media screen and (max-width: 835px) {
    header h1 {
        width: 100%;
        text-align: start;
    }
    #form {
        margin: 5%;
    }
}

@keyframes entrance {
    from {bottom: 0%};
    to {bottom: 10%};
}

@-webkit-keyframes entrance {
    from {bottom: 0%};
    to {bottom: 10%};
}

@keyframes move {
    from {color: rgba(0%, 0%, 0%, 0%)};
    to {color: rgba(0%, 0%, 0%, 100%)};
}